.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

.wrapper {
    position: relative;
    width: 100%;
}

.inner {
    margin: 0 auto;
    max-width: 1720px;
    position: relative;
    width: 95%;

    @include tb {
        min-width: 1720px;
    }
}