.container {
    .group-header {
        text-align: center;

        .desc {
            font-size: 16px;
            font-family: $font-en;
            letter-spacing: 0.26em;
        }

        .headline {
            font-size: 40px;
            letter-spacing: -0.025em;
            font-weight: bold;
            margin-top: 0.5em;

            .dot {
                color: #b70f20;
                position: relative;
                display: inline-block;

                span {
                    width: 0.25em;
                    height: 0.25em;
                    border-radius: 1000px;
                    background: #b70f20;
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-200%, -25%);
                }
            }
        }
    }

    .sc-visual {
        .content-wrap {
            height: 500vh;
        }

        .content {
            position: sticky;
            top: 0;
            height: 100vh;

            .video {
                z-index: 4;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                clip-path: circle(100% at 50% 50%);

                video {
                    width: 100vw;
                    height: 100vh;
                    object-fit: cover;

                    @include pc-lg {
                        width: 100%;
                    }
                }
            }

            .swiper {
                &.front {
                    z-index: 5;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    &.hide {
                        background: transparent;
                    }
                }

                &.back {
                    z-index: 3;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    .title {
                        .block {
                            background: url(../images/text_background.png) no-repeat center cover;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }

                    .desc {
                        .block {
                            color: #000;
                        }
                    }
                }
            }

            .swiper-slide {
                opacity: 0;
                visibility: hidden;

                &.swiper-slide-active {
                    opacity: 1;
                    visibility: visible;
                }

                .text-wrap {
                    font-family: "Montserrat",
                        sans-serif;
                    text-align: center;
                    color: #fff;
                    font-size: 6.0416666667vw;
                    pointer-events: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;

                    .title {
                        .block {
                            display: inline-block;
                            padding: 0.1em 0;
                            background: url(../images/text_background.png) no-repeat center/cover;
                            background-clip: text;
                            font-weight: bold;
                            position: relative;

                            .gra {
                                display: inline-block;
                                background: url(../images/text_background.png) no-repeat center/cover;
                                background-clip: text;
                                background-position: left;
                                position: relative;

                                .circle {
                                    width: 0.1551724138em;
                                    height: 0.1551724138em;
                                    border-radius: 1000px;
                                    position: absolute;
                                    left: 50%;
                                    top: 0;
                                    content: "";
                                    background: #fff;
                                    transform: translate(-50%, -100%);
                                }

                                &.gra1 {
                                    .circle {
                                        background: #ba0e1a;
                                    }
                                }

                                &.gra2 {
                                    background-position: 80%;

                                    .circle {
                                        background: #76209f;
                                    }
                                }
                            }

                            .mi {
                                font-weight: 500;
                            }

                            .typ {
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 1px;
                                background: #fff;
                            }
                        }
                    }

                    .desc {
                        font-size: 0.5948275862em;
                        letter-spacing: -0.025em;
                        font-weight: 300;
                        margin-top: 0.652173913em;
                        position: relative;

                        &.act {
                            color: #3d3d3d;
                        }

                        .block {
                            display: inline-block;
                            position: relative;
                            padding: 0.1em 0;

                            .typ {
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 1px;
                                background: #fff;
                            }
                        }
                    }
                }
            }

            .control {
                position: absolute;
                left: 4.25%;
                top: 50%;
                transform: translate(-100%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 55;

                .btn {
                    &.prev {
                        img {
                            transform: rotate(180deg);
                            margin-bottom: 30px;
                        }
                    }

                    &.next {
                        img {
                            margin-top: 30px;
                        }
                    }
                }

                .pagination {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .swiper-pagination-bullet {
                        width: 14px;
                        height: 14px;
                        background: #ebebeb;
                        border-radius: 1000px;
                        transition: background 0.4s;
                        opacity: 1;

                        &.swiper-pagination-bullet-active {
                            background: #b70f20;
                        }

                        &+.swiper-pagination-bullet {
                            margin-top: 18px;
                        }
                    }
                }
            }

            .scroll-top {
                position: absolute;
                right: 100px;
                bottom: 100px;
                width: 167px;
                height: 167px;

                .circle {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: url(../images/scroll-top.png) no-repeat center/cover;
                    animation: rotateAni 25s infinite;
                    transform: none;

                    @keyframes rotateAni {
                        from {
                            transform: rotate(-1080deg);
                        }

                        to {
                            transform: rotate(0deg);
                        }
                    }
                }

                .arrow {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    animation: UpSideAni 5s infinite;

                    @keyframes UpSideAni {
                        0% {
                            transform: translate(-50%, -50%);
                        }

                        33% {
                            transform: translate(-50%, -25%);
                        }

                        66% {
                            transform: translate(-50%, -75%);
                        }

                        100% {
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }

    .sc-outsourcing {
        padding: 210px 0 230px;
        color: #fff;
        position: relative;
        overflow: hidden;
        background: #501684;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #501684 url(../images/sec02_bg01.jpg) no-repeat center/cover;
            transition: opacity 0.4s ease-in-out;
            opacity: 1;
            z-index: 2;

            .bg2 {
                background: #501684 url(../images/sec02_bg02.jpg) no-repeat center/cover;
                opacity: 0;
                z-index: 3;
            }
        }

        .inner {
            position: relative;
            z-index: 4;
        }

        .intro {
            font-size: 20px;
            letter-spacing: -0.025em;
            color: #fff;
            font-weight: 500;
            display: flex;
            align-items: flex-end;
            position: absolute;
            top: 0;

            .circle {
                content: "";
                width: 0.4em;
                height: 0.4em;
                border-radius: 1000px;
                background: #fff;
                margin-left: 0.4em;
                display: block;
            }
        }

        .content {
            text-align: center;

            &>.title {
                font-size: 100px;
                letter-spacing: -0.025em;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                font-family: "Montserrat",
                    sans-serif;
                font-weight: bold;

                p {
                    position: relative;
                }

                .circle {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -100%);
                    top: -0.1em;
                    width: 0.17em;
                    height: 0.17em;
                    border-radius: 1000px;
                    background: #fff;
                }

                img {
                    margin-left: 15px;
                    width: 0.49em;
                }
            }

            &>.desc {
                font-size: 40px;
                letter-spacing: -0.025em;
                margin-top: 35px;
                line-height: 1.619047619;
                font-weight: bold;
                word-break: keep-all;
                position: relative;
                color: #ba9ece;
                height: 130px;

                span {
                    color: #fff;
                }

                &::after {
                    opacity: 1;
                    height: 65px;
                    width: 1px;
                    background: #fff;
                    position: relative;
                }
            }

            .txt-list {
                display: flex;
                align-items: center;
                font-size: 26px;
                margin: 1.9230769231em -0.3846153846em 0;
                justify-content: center;
                flex-wrap: wrap;

                li {
                    margin: 20px 0.3846153846em 0;
                    padding: 0.8846153846em 1.8461538462em;
                    border-radius: 1000px;
                    border: 2px solid #cebbd6;
                    box-sizing: border-box;
                    flex: 0 0 auto;
                }
            }

            .textbox-area {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
                max-width: 1336px;
                margin: 0 auto;
                margin-top: 8.5909090909em;
                font-size: 22px;

                .item {
                    text-align: center;
                    background: #eee5ec;
                    height: 14.0909090909em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3.1818181818em;

                    .title {
                        letter-spacing: -0.025em;
                        color: #a71440;
                        font-weight: bold;
                        margin-top: 2.2727272727em;
                    }

                    .desc {
                        font-size: 0.8181818182em;
                        letter-spacing: -0.025em;
                        line-height: 1.5555555556;
                        color: #6e636c;
                        font-weight: 500;
                        margin-top: 1.1363636364em;
                    }
                }
            }
        }
    }

    .sc-space {
        position: relative;
        height: 800vh;
        margin: 0px;
        max-width: 1528px;
        width: 1528px;
        padding: 130px 0px 180px;

        .sticky {
            display: flex;
            align-items: center;
            position: sticky;
            top: 0;
            height: 100vh;
            overflow: hidden;
        }

        .txt-wrap {
            position: absolute;
            padding-left: 5%;
            top: 50px;
            width: 100%;
            margin: 0 auto;

            .top-box {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }

            .share-box {
                p {
                    font-size: 16px;
                    letter-spacing: 0.195em;
                    font-family: "Montserrat",
                        sans-serif;
                    font-weight: 500;

                    &:last-child {
                        font-size: 40px;
                        letter-spacing: -0.025em;
                        font-weight: bold;
                        margin-top: 0.425em;
                    }

                    span {
                        color: #b70f20;
                    }
                }
            }

            .nav {
                display: flex;
                font-size: 16px;
                margin: 0 -2.1875em;
                font-family: "Montserrat",
                    sans-serif,
                    "Pretendard";
                font-weight: 500;
                padding-right: 100px;

                li {
                    margin: 0 2.1875em;

                    &.act {
                        a {
                            color: #b70f20;

                            &::after {
                                width: 80%;
                            }
                        }
                    }

                    a {
                        padding-bottom: 0.9375em;
                        position: relative;
                        transition: color 0.4s;
                        pointer-events: none;

                        &::after {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 0;
                            height: 2px;
                            background: #b70f20;
                            content: "";
                            transition: width 0.4s;
                        }
                    }
                }
            }
        }

        .horizon {
            padding-left: 5%;
            margin-top: 70px;
            display: flex;

            .item {
                margin-right: 605px;
                position: relative;
                flex: 0 0 auto;
                font-size: 71px;
                display: block;
                cursor: none;

                &:nth-child(1) .back {
                    background-image: url(../images/sec03_img01.jpg);
                }

                &:nth-child(2) .back {
                    background-image: url(../images/sec03_img02.jpg);
                }

                &:nth-child(3) .back {
                    background-image: url(../images/sec03_img03.jpg);
                }

                &:nth-child(4) .back {
                    background-image: url(../images/sec03_img04.jpg);
                }

                &:nth-child(5) .back {
                    background-image: url(../images/sec03_img05.jpg);
                }
            }

            .back {
                width: 945px;
                height: 507px;
                overflow: hidden;
                position: relative;
                border-radius: 0.7042253521em;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                .tbx {
                    position: relative;
                    z-index: 2;

                    &::after {
                        content: "";
                        display: block;
                        padding-bottom: 53.6507936508%;
                    }

                    .h4 {
                        color: #fff;
                    }

                    p {
                        &::before {
                            background: #fff;
                        }
                    }

                    h3 {
                        color: #fff;
                    }

                    &>p {
                        color: #fff;
                    }
                }
            }

            .tbx {
                position: absolute;
                top: 1.5492957746em;
                left: 91%;
                white-space: nowrap;

                h4 {
                    letter-spacing: -0.025em;
                    text-align: center;
                    color: #b70f20;
                    font-family: "Montserrat",
                        sans-serif,
                        "Pretendard";
                    font-weight: bold;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;

                        &::before {
                            width: 0.2112676056em;
                            height: 0.2112676056em;
                            border-radius: 1000%;
                            background: #b70f20;
                            content: "";
                            display: block;
                            margin-right: 0.3943661972em;
                        }
                    }
                }

                h3 {
                    color: #000;
                    font-size: 0.8450704225em;
                    letter-spacing: -0.025em;
                    font-family: "Montserrat",
                        sans-serif;
                    font-weight: bold;
                    margin-top: 0.5em;
                }

                &>p {
                    font-size: 18px;
                    letter-spacing: -0.025em;
                    color: #000;
                    line-height: 1.7777777778;
                    margin-top: 3.3333333333em;
                    font-weight: bold;
                    margin-left: 1.1111111111em;
                    word-break: keep-all;
                }
            }
        }
    }

    .sc-services {
        height: 3843px;

        .content {
            margin: 50px auto 235px;
            max-width: 1451.6px;
            width: 1451.6px;
            max-height: 716.456px;
            height: 716.456px;
            position: sticky;
            top: 40px;
        }

        .group-header {
            text-align: left;
            transform: translateY(100%);
            opacity: 0;
            visibility: hidden;
            transition: 1.5s;

            &.on {
                transform: translateY(0%);
                opacity: 1;
                visibility: visible;
            }

            .desc {
                font-size: 16px;
                letter-spacing: 0.195em;
                font-family: "Montserrat",
                    sans-serif;
                font-weight: 500;
            }

            .headline {
                font-size: 40px;
                letter-spacing: -0.025em;
                font-weight: bold;
                margin-top: 0.425em;

                span {
                    color: #b70f20;
                }
            }
        }

        .service-wrap {
            display: flex;
            align-items: flex-end;
            position: relative;
            font-size: 70px;
            padding-left: 5%;
            transform: translateY(100%);
            opacity: 0;
            visibility: hidden;
            transition: 1.5s;

            &.on {
                transform: translateY(0%);
                opacity: 1;
                visibility: visible;
            }
        }

        .tap {
            position: absolute;
            right: 0;
            top: 32.1011673152%;
            z-index: 4;

            .con-area {
                display: flex;
                align-items: center;
                font-size: 20px;
                letter-spacing: -0.025em;
                color: #b5b5b5;
                font-weight: bold;
                transition: color 0.4s;
                pointer-events: none;
                cursor: default;

                &+li {
                    margin-top: 1.9em;
                }

                .line {
                    width: 1.2em;
                    height: 2px;
                    background: #b5b5b5;
                    margin-right: 15px;
                    transition: background 0.4s;
                }

                &.act {
                    color: #b70f20;

                    .line {
                        background: #b70f20;
                    }
                }
            }
        }

        .textbox {
            display: inline-block;
            max-width: 480px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 2em;
            flex: 1;

            .swiper-slide {
                opacity: 0;
                visibility: hidden;

                &.swiper-slide-active {
                    opacity: 1;
                    visibility: visible;
                    transition: .5s;
                }

                .title {
                    font-weight: bold;

                    .small {
                        font-size: 0.4285714286em;
                        letter-spacing: -0.025em;
                        display: block;
                    }

                    .main {
                        letter-spacing: -0.025em;
                        font-family: "Montserrat",
                            sans-serif;
                        margin-top: 0.1428571429em;
                        display: inline-block;

                        .circle {
                            width: 0.2142857143em;
                            height: 0.2142857143em;
                            border-radius: 1000px;
                            background: #b70f20;
                            margin-left: 0.2142857143em;
                            position: absolute;
                            display: inline-block;
                        }
                    }
                }

                .desc {
                    font-size: 0.2571428571em;
                    font-weight: 600;
                    letter-spacing: -0.025em;
                    color: #7d7d7d;
                    line-height: 1.6666666667;
                    margin-top: 1.6666666667em;
                    word-break: keep-all;
                }

                .sub-title {
                    font-size: 0.3714285714em;
                    letter-spacing: -0.025em;
                    font-weight: 600;
                    font-family: "Montserrat",
                        sans-serif;
                    color: #b70f20;
                    margin-top: 2.3076923077em;
                    display: block;
                }

                .list {
                    font-weight: 600;
                    color: #b70f20;
                    font-size: 0.2571428571em;
                    letter-spacing: -0.025em;
                    display: flex;
                    margin-top: 1.1111111111em;

                    li {
                        height: 2.6666666667em;
                        padding: 0 1.2777777778em;
                        border: 1px solid #e9b5ba;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 1000px;
                        margin-right: 0.6666666667em;
                        white-space: nowrap;
                        margin-top: 10px;
                    }
                }
            }
        }

        .imgbox {
            margin: 0;
            margin-left: 1.9em;
            width: 8.5714285714em;
            perspective: 1200px;

            .swiper-wrapper {
                cursor: grab;
                transform: translate3d(0px, 0px, 0px);
                transition-duration: 0ms;
                transition-delay: 0ms;
                transform-style: preserve-3d;
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                transition-property: transform;
                box-sizing: content-box;
            }

            .swiper-slide {
                transform: translate3d(-214.617px, 0px, -527.998px) rotateX(0deg) rotateY(0deg) scale(1) !important;
                z-index: 0;
                transition-duration: 0ms;
                width: 6.9285714286em;

                &:first-child.swiper-slide-active {
                    transform: translate3d(29.0331px, 0px, -71.427px) rotateX(0deg) rotateY(0deg) scale(1) !important;
                    z-index: 1;
                    transition-duration: 0ms;
                    transform-style: preserve-3d;
                }

                &:first-child.swiper-slide-prev {
                    transform: translate3d(214.851px, 0px, -528.573px) rotateX(0deg) rotateY(0deg) scale(1) !important;
                    margin-left: 100px;
                }

                &:last-child.swiper-slide-active {
                    transform: translate3d(-28.7994px, 0px, -70.8519px) rotateX(0deg) rotateY(0deg) scale(1) !important;
                    z-index: 1;
                    transition-duration: 0ms;
                    transform-style: preserve-3d;
                }

                .img {
                    position: relative;
                    overflow: hidden;
                    border-radius: 1000px;
                    width: 100%;
                }

                .bg {
                    width: 415px;
                    height: 663px;

                    img {
                        width: 100%;
                        border-radius: 1000px;
                    }
                }
            }
        }
    }

    .sc-cooperative {
        padding-bottom: 240px;
        overflow: hidden;

        .group-header {
            text-align: center;
        }

        .content {
            flex: 0 0 auto;
            padding: 0 40px;
            height: 6vw;
            max-height: 40px;
            min-height: 24px;
            padding: 0;
            margin-top: 100px;

            @keyframes play1 {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-100%);
                }
            }

            @keyframes play2 {
                0% {
                    transform: translateX(-100%);
                }

                100% {
                    transform: translateX(0%);
                }
            }

            &>div {
                display: flex;
                align-items: center;
                flex: 0 0 auto;
                animation-duration: 42s;

                .img-wrap {
                    flex: 0 0 auto;
                    height: 6vw;
                    max-height: 40px;
                    min-height: 24px;
                    padding: 0;
                }

                img {
                    height: 100%;
                }
            }

            .img-line01 {
                animation: play1 17.5s infinite linear;
            }

            .img-line02 {
                animation: play2 17.5s infinite linear;
                margin-top: 30px;
            }
        }
    }

    .sc-info {
        padding: 260px 0;
        background: url(../images/sec06_bg.jpg) no-repeat center/cover;
        overflow: hidden;

        .group-info {
            display: flex;
            justify-content: center;
            font-size: 75px;
            color: #fff;

            &>div {
                display: flex;
                align-items: flex-end;
                flex: 0 0 auto;
            }

            .cir-box {
                color: #fff;
                position: relative;
                display: inline-flex;
                text-align: left;
                height: 100%;
                align-items: center;

                .txt-box {
                    position: relative;
                    z-index: 10;

                    strong {
                        font-size: 0.2666666667em;
                        letter-spacing: -0.025em;
                        font-weight: bold;
                    }

                    h4 {
                        font-family: $font-en;
                        font-weight: bold;
                        letter-spacing: -0.025em;
                        line-height: 0.84;
                        margin-top: 15px;
                    }

                    p {
                        font-size: 0.24em;
                        letter-spacing: -0.025em;
                        color: #a6a5a5;
                        line-height: 1.6111111111;
                        margin-top: 1.6666666667em;
                    }
                }

                .circle {
                    position: relative;
                    width: 3.9466666667em;
                    overflow: hidden;
                    border-radius: 10000px;
                    z-index: 3;
                    flex: 0 0 auto;
                    margin-left: -0.8666666667em;

                    &::after {
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                    }
                }
            }
        }

        .col-left {
            text-align: center;
            justify-content: center;
            margin-right: 2.36em;

            .circle {
                .gra {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, #ba0e1a 0%, #462dff 100%);
                }
            }
        }

        .col-right {
            .cir-box {
                .circle {
                    position: relative;
                    width: 3.9466666667em;
                    overflow: hidden;
                    border-radius: 10000px;
                    z-index: 3;
                    flex: 0 0 auto;
                    margin-left: -0.8666666667em;

                    #map {
                        width: 296px;
                        height: 296px;
                    }

                    &::after {
                        content: none;
                    }
                }

                .nav {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .btn-area {
                position: absolute;
                display: flex;
                bottom: -70px;

                a {
                    display: block;
                    font-size: 20px;
                    background: #fff;
                    border-radius: 10px;
                    padding: 16px 38px;
                    text-align: center;
                    font-weight: 800;
                    transition: all 0.3s;
                    color: #000;

                    &:first-child {
                        margin-right: 10px;
                    }

                    &:hover {
                        background: #861245;
                        color: #fff;
                    }
                }
            }
        }
    }

    .gra-cursor {
        width: 120px;
        height: 120px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        border-radius: 10000px;
        color: #fff;
        overflow: hidden;
        pointer-events: none;
        opacity: 0;

        .cir {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #b70f1f;
            background: linear-gradient(90deg, #b70f1f 0%, #482cfb 100%);
        }

        .arr {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.fix-load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: #000;
    opacity: 1;
    transition: 1s;

    &.hide {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: transparent;
    }

    .text-wrap {
        font-family: "Montserrat",
            sans-serif;
        text-align: center;
        color: #fff;
        font-size: 6.0416666667vw;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        .title {
            .block {
                display: inline-block;
                position: relative;
                padding: 0.1em 0;
                background: url(../images/text_background.png) no-repeat center/cover;
                background-clip: text;
                font-weight: bold;

                .gra {
                    display: inline-block;
                    background: url(../images/text_background.png) no-repeat center/cover;
                    background-clip: text;
                    background-position: left;
                    position: relative;

                    .circle {
                        background: #fff;
                        width: 0.1551724138em;
                        height: 0.1551724138em;
                        border-radius: 1000px;
                        position: absolute;
                        left: 50%;
                        top: 0;
                        content: "";
                        transform: translate(-50%, 100%);
                        opacity: 0;
                    }

                    &.gra2 {
                        background-position: 80%;
                    }
                }

                .mi {
                    font-weight: 500;
                }

                .typ {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background: #fff;
                }
            }
        }

        .desc {
            font-size: 0.5948275862em;
            letter-spacing: -0.025em;
            font-weight: 300;
            margin-top: 0.652173913em;
            position: relative;

            &.act {
                color: #3d3d3d;
            }

            .block {
                display: inline-block;
                position: relative;
                padding: 0.1em 0;

                .typ {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background: #fff;
                }
            }
        }
    }
}